
<div class="row">
        <div class="col-md-2">
             <%= link_to 'Continuar Comprando', root_path, class: 'btn btn-dark' %>
        </div>
        <div class="col-md-2 offset-md-8">
            <%= link_to 'Vaciar Carro', empty_card_orders_path, class: 'btn btn-danger', method: :delete %>
        </div>
    </div>

<% if@orders.present? %>

<table class="table table-hover">
	<tr>
		<th>
			Producto
		</th>
		<th>
			Valor Unitario
		</th>
		<th>
			Cantidad
		</th>
		<th>
			Sub Total
		</th>
	</tr>
	<% @orders.each do |order| %>
	<tr>
		<td>
			<%= order.product.name %>
		</td>
		<td>
			$<%= order.product.price %>
		</td>
		<td>
			<%= order.quantity %>
		</td>
		<td>
			 $<%= order.quantity * order.product.price %>
		</td>

		<td>
			<%= link_to order_path(order), class: "btn btn-danger btn-sm", method: :delete do %><i class="fas fa-trash-alt"></i>
			<% end %>
		</td>
		
		
	</tr>
	<% end %>
	<tr>
    <th>Total:</th>
    <th>
       $ <%= @total %>
    </th>
    <th>
    </th>
    <th>
		$<%= @subtotal %>
	</th>
	
</tr>

</table>
<% else %>
<h5>No se agregaron Poductos </h5>
<%end %>

